.Form {
    width: 750px;
    padding: 30px 50px 50px;
    margin: 20px 0 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form h1 {
    text-align: center;
    width: 95%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0 20px;
    color: #3FA2F7;
    border-bottom: 1px solid #eee;
}

.Form h2 {
    color: rgba(142, 142, 142, 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 20px;
    text-align: center;
}

.Form span {
    color: rgb(221, 29, 29);
    font-weight: bold;
}

.Box {
    height: 50px;
}

.Statement {
    color: #999;
    font-size: 0.75rem;
    line-height: 1.8;
    margin: 20px 0;
}

.Button {
    width: 140px;
    height: 50px;
    margin: 15px 0 30px;
    border-radius: 3px;
    border: none;
    background-color: #0095f6;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.Button:disabled {
    background-color: #b2dffc;
    cursor: inherit
}

.intro {
    margin: 100px 0;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    background: linear-gradient(90deg,#e0624a 40%,#9063b8 100%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


.outro {
    font-size: 3rem;
    letter-spacing: 1px;
    color: #3fa2f7;
    font-weight: 600;
    text-align: center;
    margin: 100px 0;
}

@media (max-width: 850px) {
    .Form {
        width: 100%;
        padding: 30px 8% 50px;
    }

    .Form h2 {
        font-size: 0.9rem;
    }
}