* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #f4f4f4;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: none;
}

label {
  font-weight: 600;
  color: #555;
}

input[type='text'],
input[type='date'],
input[type='number']
 {
  margin: 3px 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
  background-color: #fafbfc;
  color: rgba(38, 38, 38, 1);
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 45px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


input[type='number'] {
  width: 100px;
}

input:focus {
  border: 1px solid rgb(141, 190, 255);
}

input::placeholder {
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: 'Segoe UI', sans-serif;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio, .checkbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.radio label{
  width: 25%;
  margin: 20px 5% 20px 0;
  font-weight: normal;
}

.radio label:last-child {
  margin-right: 0;
}

.checkbox-buttons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.checkbox-button {
  color: rgba(66,153,225,1) !important;
  cursor: pointer;
  
}

.checkbox-button:hover {
  color: rgba(66,153,225,0.8)!important;
}

.checkbox label {
  width: 100%;
  margin: 5px 0;
  font-weight: normal;
}

.form-field {
  width: 70%;
  margin: 5px 0;
}

.form-field3 {
  width: 70%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field3 input {
  width: 32%;
}

.form-note {
  font-size: .85rem;
  color: #999;
  line-height: 1.8;
}
.form-error {
  font-size: 0.9rem;
  color: rgb(219, 36, 36);
}

.address {
  width: 100%;
  padding-bottom: 30px;
}

.address .form-row {
  margin: 5px 0;
}

.field {
  width: 100%;
  margin: 20px 0;
}

.question {
  padding-top: 50px;
  width: 100%;
  line-height: 1.9;
  margin: 40px 0;
  font-weight: 600;
  color: #555;
}

.statement {
  width: 100%;
  line-height: 1.9;
  margin: 40px 0;
  color: #999;
  font-size: 0.9rem;
}

@media (max-width: 850px) {
  .form-row {
    display: block;
  }

  .form-field, .form-field3 {
    width: 100%;
    margin: 5px 0;
  }

  .radio, .checkbox {
    flex-flow: column;
  }

  .radio label{
    width: 100%;
    margin: 20px 0 0;
    font-weight: normal;
  }

  .question {
    font-size: 0.95rem;
  }
}